body{

  color : #322AFF;
  background: #D3E3FF;
  font-size: larger;
  font-family: fantasy;
  float: left;
  padding: 10px;
  border: 2px solid;
  margin: 10px;
  border-color: #30F;
  width: 1200px;


}

.message{

  border: 2px dashed;
  padding: 10px;
  margin: 7px;
  font-size: xx-large;
}

.sent{

  font-size: large;
}

.title{

  font-weight: bolder;
  font-family: cursive;
  text-align: center;
  font-size: 80px;
}

.highlighted {

  background-color: #8ed6ff;
  border-color: 1px solid #967;
  font-style: bold;
  text-decoration: underline;

}

.back{
  text-align: center;
}

.info{
  text-align: center;
}