body{

  color : #322AFF;
  background: #D3E3FF;
  font-size: larger;
  padding: 10px;
  border: 2px solid;
  margin: 10px 10px 10px 10px auto;


}

.message{

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  border: 2px dashed;
  padding: 10px;
  margin: 7px;
  font-size: xx-large;
}

.sent{

  font-size: large;
}

.title{

  /*position: fixed;*/
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
  font-size: 80px;
}

.highlighted {

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;


  background-color: #8ed6ff;
  border-color: 1px solid #967;
  font-style: bold;
  text-decoration: underline;

}

.update{
  text-align: center;
}


.info{
  text-align: center;
}











